body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f3f4f6;
}

.app {
  display: flex;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
}

@media (max-width: 900px) {
  .main-content {
    margin-left: 200px;
  }
}

@media (max-width: 600px) {
  .main-content {
    margin-left: 0;
  }
}
